#backgroundSlideShow div:nth-child(1) {
  border: orange dotted 3px;
}

#backgroundSlideShow div:nth-child(2) {
  border: magenta dotted 3px;
}

#backgroundSlideShow div {
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
}

#backgroundScreen {
  /* background-color: white; */
  opacity: 0.6;
  z-index: 3;
}
#backgroundBackdrop {
}
.displayedState {
  opacity: 1;
}

.hiddenState {
  opacity: 0;
}

.showingState {
  animation-name: fadeIn;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.hidingState {
  animation-name: fadeOut;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
