#one,
#two {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  border: solid black 10px;
}

.displayedState {
  opacity: 1;
}

.hiddenState {
  opacity: 0;
}

.showingState {
  animation-name: fadeIn;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.hidingState {
  animation-name: fadeOut;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
