@import url("reset.css");

body {
  font-family: sans-serif;
}

#floatingStats {
  width: 600px;
  /* height: 400px; */
  border: solid darkgray 1px;
  margin: auto;
}

#statsWrap {
  /* border: orange dotted 5px; */
}

.statWrap {
  width: 100%;
  /* border: dotted green 5px; */
  display: grid;
  grid-template-columns: 100px 10fr 0.5rem;
}

.statBarWrap {
  /* border: rgba(255, 0, 255, 0.189) dotted 5px; */
  /* background-color: rgba(255, 0, 255, 0.189); */
  /* border: violet dotted 5px; */
  width: 100%;
  height: 40px;

  display: grid;
  grid-template-columns: repeat(100, 1fr);
  margin-bottom: 1rem;
  /* grid-column-gap: 5px; */
}

.statBox {
  background-color: magenta;
  border-radius: 3px;
  border: solid whitesmoke 1px;

  /* margin-left: 2px; */
  /* margin-right: 2px; */
  /* width: 80%; */
  animation-name: statFadeIn;
  animation-duration: 1000ms;
  animation-direction: forwards;
  animation-fill-mode: both;
  animation-delay: 500ms;
}

.statNumberBox {
  border: 1px black solid;
  /* border-radius: 50%;
  width: 1rem;
  height: 1rem;
  padding: 1rem; */
  /* background-color: orange; */
}

@keyframes statFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
