@import url("reset.css");

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* border: dotted orange 5px; */
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#frame {
    /* set min width and height */
    border-radius: 20px;
    background-image: url("../images/pokemon-preview/img-1.png");
    background-size: cover; /*  100%; cover; */
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
    width: 95vw;
    margin: auto;
    position: relative;
    display: grid;
    /* grid-template-columns: 1fr 400px 1fr 400px 1fr 300px 1fr;
    grid-template-rows: 50px 100px 200px 100px 200px 100px 1fr; */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
       "one  two  three  four     five     six      seven eight nine ten"
       "one  two  three  four     five     six      seven eight nine ten"
       "one  two  three  four     pokedex  pokedex  seven eight nine ten"
       "one  two  three  four     pokedex  pokedex  seven eight nine ten"
       "one  two  three  four     pokedex  pokedex  seven eight nine ten"
       "one  two  three  four     pokedex  pokedex  seven eight nine ten"
       "one  two  three  four     pokedex  pokedex  seven eight nine ten"
       "one  two  three  four     pokedex  pokedex  seven eight nine ten"
       "one  two  three  fourTwo  fiveTwo  sixTwo   seven eight nine ten"
       "one  two  three  fourTwo  fiveTwo  sixTwo   seven eight nine ten"
       "one  two  three  fourTwo  fiveTwo  sixTwo   seven eight nine ten";
    /* grid-template-rows: calc(0.1 * vh) 400px 1fr; */
    
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
      /* how is this working? */
    opacity: 1;
    border: solid black 1px;

}
/* #testAnimation {
    height: 100px;
    width: 100%;
    background-color: rgba(142, 80, 205, 0.5);
    animation-name: slideInUp;
    animation-duration: 30ms;
    animation-fill-mode: forwards;
} */
#pokedexWrap {
    opacity: 0.0;
    /* grid-column: 4;
    grid-row: 3/6;
    grid-area: "pokedex"; */
    background-color: rgb(83, 84, 84);
    box-shadow:
         0 0 50px rgba(255, 255, 255, 0.73),      /* inner white */
         20px 0 80px rgba(255, 0, 255, 0.593),   /* inner left magenta short */
         -20px 0 80px rgba(0, 255, 255, 0.661),  /* inner right cyan short */
         20px 0 300px rgba(255, 0, 255, 0.579),  /* inner left magenta broad */
         -20px 0 300px rgba(0, 255, 255, 0.703), /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px rgba(255, 0, 255, 0.579),        /* outer left magenta */
        10px 0 80px rgba(0, 255, 255, 0.62);     
               /* offsetX offsetY blurr spread color */

    border-radius: 15px;
    border: solid black 1px;

    
    animation-name: appear;
    animation-duration: 1500ms;
    animation-direction: forwards;
    animation-fill-mode: forwards;
    
    grid-area: pokedex;
    width: 350px;
    height: 500px;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}
#searchWrap {
    background-color: red;
    /* grid-row: 1;
    grid-column: 2; */
}
#pokemonDisplay {
    background-color: white;
    border: dotted black 1px;
    grid-row: 2;
    grid-column: 2;
}
#pokemonStats {
    background-color: gray;
    border: dotted gray 1px;
    grid-row: 3;
    grid-column: 2;
}


/* FLOATING DISPLAY */
#floatingDisplay {
    /* grid-column: 2;
    grid-row: 2/5; */
    background-color: rgba(128, 0, 128, 0.703);
}

/* FLOATING STATS */
#floatingStats {
    /* grid-column: -3/-2;
    grid-row: 4/7; */
    background-color: rgba(128, 128, 128, 0.552);
}



@keyframes appear {
    0%{
        opacity: 0.0;
        transform:   translate(0px, 800px) scale(0.1);
    }
    40% {
        opacity: 0.0;
    }
    100%{
        opacity: 1.0;
        tranform: translate(0px, 0px)scale(1.0);
    }
}