@import url("reset.css");

body {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 50px 500px 1fr;
    /* grid-template-rows: calc(0.1 * vh) 400px 1fr; */
    background-image: url("../images/pokemon-preview/img-1.png");
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    background-size: 100%;  /* cover; */
    background-repeat: no-repeat;
    background-position: center top;  /* how is this working? */
    opacity: 1;
}
#pokedexWrap {
    opacity: 1.0;
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(176, 31, 31);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}
#search {
    background-color: red;
    grid-row: 1;
    grid-column: 2;
}
#pokemonDisplay {
    background-color: white;
    border: dotted black 1px;
    grid-row: 2;
    grid-column: 2;
}
#pokemonStats {
    background-color: gray;
    border: dotted gray 1px;
    grid-row: 3;
    grid-column: 2;
}