@import url("reset.css");
#gridChanger {
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  border: solid 1px darkgray;
  transform: translate(20px, -50px);
  transition: 1000ms;
  z-index: 3;
}
#gridChanger:hover {
  transform: translate(20px, 10px);
  box-shadow: -5px 5px lightgray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* border: dotted orange 5px; */
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#frame {
  /* set min width and height */
  border-radius: 20px;
  /* why is this not also containing the image inside it? */

  height: 95vh;
  width: 95vw;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: [left] 1fr 1fr 1fr 1fr 1fr 1fr 1fr[stat-left] 1fr 1fr[stat-right] 1fr [right];
  grid-template-rows: [top] 1fr 1fr 1fr 1fr[stat-top] 1fr 1fr 1fr 1fr [stat-bottom]1fr 1fr 1fr [bottom];
  grid-template-areas:
    "one  two  three    four      five     six          seven    eight  nine  ten"
    "one  two  three    four      five     six          seven    eight  nine  ten"
    "one  two  three    four      pokedex  pokedex      seven    eight  nine  ten"
    "one  two  three    four      pokedex  pokedex      seven    eight  nine  ten"
    "one  two  three    four      pokedex  pokedex      seven    eight  nine  ten"
    "one  two  three    four      pokedex  pokedex      seven    eight  nine  ten"
    "one  two  three    four      pokedex  pokedex      seven    eight  nine  ten"
    "one  two  three    four      pokedex  pokedex      seven    eight  nine  ten"
    "one  two  three    fourTwo   fiveTwo  sixTwo       seven    eight  nine  ten"
    "one  two  three    fourTwo   fiveTwo  sixTwo       seven    eight  nine  ten"
    "one  two  three    fourTwo   fiveTwo  sixTwo       seven    eight  nine  ten";

  /* grid-template-rows: calc(0.1 * vh) 400px 1fr; */

  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

  border: solid black 1px;
  opacity: 0;
  animation-name: screenFadeIn;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;
}

#backgroundSlideShow {
  border-radius: 20px;
  grid-row: top/bottom;
  grid-column: left/right;
  background-image: url("../images/pokemon-preview/img-0001.png");
  /* background-color: olive; */
  background-size: cover; /*  100%; cover; */
  background-repeat: no-repeat;
  background-position: center center;
  /* background-color: black; */
  animation-name: slideShow;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  z-index: 0;
}

#pokedexWrap {
  opacity: 0;
  background-color: rgb(83, 84, 84);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.73),
    /* inner white */ 20px 0 80px rgba(255, 0, 255, 0.593),
    /* inner left magenta short */ -20px 0 80px rgba(0, 255, 255, 0.661),
    /* inner right cyan short */ 20px 0 300px rgba(255, 0, 255, 0.579),
    /* inner left magenta broad */ -20px 0 300px rgba(0, 255, 255, 0.703),
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px rgba(255, 0, 255, 0.579),
    /* outer left magenta */ 10px 0 80px rgba(0, 255, 255, 0.62);
  /* offsetX offsetY blurr spread color */

  border-radius: 15px;
  border: solid black 1px;

  animation-name: pokedexAppear;
  animation-duration: 2000ms;
  animation-direction: forwards;
  animation-fill-mode: forwards;
  /* animation-delay: 500ms; */

  grid-area: pokedex;
  /* width: 350px;
  height: 500px; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
#pokedexWrap div {
  width: 80%;
}

/* ACTIVE SEARCH WRAP */
#searchWrapActive {
  box-sizing: border-box;
  background-color: red;

  opacity: 0;
  animation-name: genericFadeIn;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;

  height: 10%;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}
#searchWrapActive input {
  /* how to change color of default text? */
  flex-grow: 4;
  background-color: rgba(255, 140, 0, 0.579);
  border: none;
}
#searchWrapActive button {
  flex-grow: 1;
  border-radius: 15px;

  opacity: 0;
  animation-name: genericFadeIn;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

/* INACTIVE SEARCH WRAP */
#searchWrapInactive {
  box-sizing: border-box;
  background-color: gray;
  border-radius: 5px;
  height: 10%;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}
#searchWrapInactive input {
  /* how to change color of default text? */
  flex-grow: 4;
  background-color: gray;
  border: none;
}
#searchWrapInactive button {
  background-color: gray;
  color: gray;
  border: gray;
  flex-grow: 1;
  border-radius: 15px;
}

#pokemonDisplay {
  background-color: white;
  border: dotted black 1px;
  /* grid-row: 2;
    grid-column: 2; */
  height: 30%;
}
#pokemonStats {
  /* IS A FLEX ITEM */
  /* height: 40%; */
  /* flex-grow: 1; */
  background-color: pink;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#pokemonStats div {
  width: 100%;
  background: black;
  color: white;
  border-radius: 15px;
  height: 100%;
}
.pressed {
  border: dotted magenta 3px;
}

/* FLOATING DISPLAY */
#floatingDisplay {
  grid-column: 2/4;
  grid-row: 2/6;
  /* background-color: rgba(128, 0, 128, 0.4); */
}

.pokemonAppear {
  opacity: 0;
  width: 100%;
  animation-name: pokemonAppear;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
.pokemonFlicker {
  animation-name: pokemonFlicker;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

/* FLOATING STATS */
#floatingStats {
  /* position: absolute;
  left: 100px;
  top: 400px; */
  z-index: 3;

  grid-row: stat-top/ stat-bottom;
  grid-column: stat-left / stat-right;
  background-color: purple;
  /* width: 300px;
  height: 300px; */
}

@keyframes screenFadeIn {
  0% {
    /* transform: rotate(0.125turn) scale(0); */
    opacity: 0;
  }
  40% {
    /* transform: scale(0.1); */
    opacity: 0.06;
  }
  100% {
    /* transform: rotate(0turn) scale(1); */
    opacity: 1;
  }
}

@keyframes pokedexAppear {
  0% {
    opacity: 0;
    transform: translate(0px, 800px) scale(0);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    tranform: translate(0px, 0px) scale(1);
  }
}

@keyframes pokemonAppear {
  0% {
    /* transform: rotate(0.125turn) scale(0); */
    opacity: 0;
  }
  100% {
    /* transform: rotate(0turn) scale(1); */
    opacity: 1;
  }
}

@keyframes genericFadeIn {
  0% {
    /* transform: rotate(0.125turn) scale(0); */
    opacity: 0;
  }
  100% {
    /* transform: rotate(0turn) scale(1); */
    opacity: 1;
  }
}
