@import url("reset.css");

#frame {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 400px 1fr 400px 1fr 300px 1fr;
    grid-template-rows: 50px 100px 200px 100px 200px 100px 1fr;

    /* grid-template-rows: calc(0.1 * vh) 400px 1fr; */
    background-image: url("../images/pokemon-preview/img-1.png");
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    background-size: cover; /*  100%; cover; */
    background-repeat: no-repeat;
    background-position: center center;  /* how is this working? */
    opacity: 1;

}
/* #testAnimation {
    height: 100px;
    width: 100%;
    background-color: rgba(142, 80, 205, 0.5);
    animation-name: slideInUp;
    animation-duration: 30ms;
    animation-fill-mode: forwards;
} */
#pokedexWrap {
    opacity: 0.0;
    grid-column: 4;
    grid-row: 3/6;
    grid-area: "pokedex";
    background-color: rgb(176, 31, 31);
    border-radius: 15px;
    border: solid black 7px;

    
    animation-name: appear;
    animation-duration: 1500ms;
    animation-direction: forwards;
    animation-fill-mode: forwards;
    

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}
#searchWrap {
    background-color: red;
    grid-row: 1;
    grid-column: 2;
}
#pokemonDisplay {
    background-color: white;
    border: dotted black 1px;
    grid-row: 2;
    grid-column: 2;
}
#pokemonStats {
    background-color: gray;
    border: dotted gray 1px;
    grid-row: 3;
    grid-column: 2;
}


/* FLOATING DISPLAY */
#floatingDisplay {
    grid-column: 2;
    grid-row: 2/5;
    background-color: rgba(128, 0, 128, 0.703);
}

/* FLOATING STATS */
#floatingStats {
    grid-column: -3/-2;
    grid-row: 4/7;
    background-color: rgba(128, 128, 128, 0.552);
}



@keyframes appear {
    0%{
        opacity: 0.0;
        transform:   translate(0px, 800px) scale(0.1);
    }
    40% {
        opacity: 0.0;
    }
    100%{
        opacity: 1.0;
        tranform: translate(0px, 0px)scale(1.0) ;
    }
}