.sprite {
  border: magenta 2px solid;
  /* set to the height and width of the frame */
  height: 40px;
  width: 40px;
  animation: sparkle 2000ms steps(32) infinite;
}

/* set the position for each frame */
@keyframes sparkle {
  0% {
    background-position: 0px 0;
  }
  0% {
    background-position: 40px 0;
  }
  0% {
    background-position: 80px 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 0 0;
  }
}
